#profile-wrapper
  .container
    .row
      .col-xs-12.col-md-5.col-centered
        .profile-title
          %h4 
            Thank you for joinning the photography community!
            %p 
              Create your profile and upload your first photo
        .profile-new-form
          = render 'form'

