.navigation_wrapper {
  
  height: 50px;
  width: 100%;
  background-color: #373737;
  
}

.brand-logo {
  
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 200;
  color: #fff;
  float:left;
 
}

.navigation { 

  height: inherit;
  padding-right: 0px !important;

}

.navigation li { 
  
  display: inline;
  margin-right: 20px;
  height: inherit;

}

.navigation-item {
  
  float:left;
  color:#b9c1c7;
  padding-top: 10px;
  font-size: 18px;
  margin-bottom: 0px;

}

.wrapper { 
  
}

.navigation-item > li > a { 
  
  color: #b9c1c7;
  text-decoration: none;

  &:hover {

    color: #fff;

  }

}

btn:hover { 
  color:#fff;
}

.upload-photo {
  background-color: green;
  color: #fff;

}



.profile-item { 
  
  height: 50px;
  margin-bottom: 0px;

}

.btn-upload { 
  
  background-color: #34bf49;
  height: 100%;
  border-radius: 0px;
  color: #fff;

}



.btn-upload:hover { 
  color: #fff;
}


.upload-item { 
  
  padding-top: 10px;
  &:hover { 
    color: #fff;
  }

}


.btn-profile { 
  
  @include button-variant(#fff, transparent, transparent);
  height: 100%;
  border-radius: 0px;
  color: #fff;

}
